
<h1>植物欣赏 <div class="serach"> <%= form_tag search_appreciations_path , :method => 'get' do %>
   <p>
     <%= text_field_tag :search, params[:search] %>
     <%= submit_tag "Search", :name => nil %>
   </p>
 <% end %>  </div> </h1>

<%= render :partial => "index_part" , :object => @appreciations %>