
<%= form_for([@forum, @forum.topics.build]) do |f| %>
  <div class="field">
    <%= f.label "标题" %><br />
    <%= f.text_field :title %>
  </div>
<%#*<h2>Add a post</h2>%>
<%= render "posts/form" %>
<% end %>
