div#header {
    background: url("/images/header-bg.gif") repeat-x scroll left top transparent;
    height: 311px;
    width: 100%;
}
#header .row-1 {
    height: 89px;
}
.menu-block {
    background: url("/images/top-menu-bg.gif") repeat-x scroll left top transparent;
    width: 100%;
}
.menu-block .left {
    background: url("/images/top-menu-left.gif") no-repeat scroll left top transparent;
}
.menu-block .right {
    background: url("/images/top-menu-right.gif") no-repeat scroll right top transparent;
    height: 89px;
}
.menu-block ul {
    overflow: hidden;
    padding: 42px 0 0;
}
.menu-block ul li {
    display: inline;
    margin-left: -1px;
}
.menu-block ul li a {
    background: url("/images/divider.gif") no-repeat scroll left 3px transparent;
    color: #FFFFFF;
    font-family: "trebuchet ms";
    font-size: 1.1em;
    padding: 0 53px 0 54px;
    text-decoration: none;
}
.menu-block ul li a:hover{
    text-decoration:underline;
}
#header .row-2 {
    background: url("/images/header-bg.jpg") repeat-x scroll left top transparent;
    height: 222px;
}
#header .row-2 .left {
    background: url("/images/header-left.jpg") no-repeat scroll left top transparent;
}
#header .row-2 .right {
    background: url("/images/header-right.jpg") no-repeat scroll right top transparent;
    height: 222px;
}
#header .logo {
    padding: 89px 69px 38px 0;
    text-align: right;
}
h1 {
    color: #000000;
    font-size: 3em;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 1.1em;
}
h1 a {
    color: #000000;
    text-decoration: none;
}
div .login {
    margin: -50px 69px 30px 0;
    text-align: right;
}
.content {
    background: url("/images/cont-left.gif") repeat-y scroll left top #FFFFFF;
}
.content .indent {
    padding: 0 4px 0 8px;
}
.content .bg_right {
    background: url("/images/cont-right.gif") repeat-y scroll right top transparent;
}
.w100 {
    width: 100%;
}
.column_center {
    float: left;
    width: 100%;
}
.indent_center {
    margin: 0 0 0 10px;
    padding: 4px 29px 0 4px;
}
.column_center .bg-line {
    background: url("/images/bg-line.gif") repeat-x scroll left top transparent;
}
.indent_center2 {
    padding: 24px 3px 40px 10px;
}
.text_box {
    font-size: 1em;
    padding: 0 12px 17px 0;
}
.entry {
    border-bottom: 1px dotted #7777DD;
    margin-top: 1em;
    overflow: auto;
}
.entry img {
    float: left;
    margin-bottom: 5px;
    margin-right: 5px;
}
.entry h3 {
    color: #222277;
    margin-bottom: 2px;
    margin-top: 0;
}
.entry p {
    margin-bottom: 0.8em;
    margin-top: 0.5em;
}
#footer {
    background: url("/images/footer-bg.gif") repeat-x scroll left top transparent;
    color: #B2B2B2;
    font-family: tahoma;
    font-size: 1.01em;
    height: 82px;
    line-height: 1.1em;
}
#footer .left {
    background: url("/images/footer-left.gif") no-repeat scroll left top transparent;
}
#footer .right {
    background: url("/images/footer-right.gif") no-repeat scroll right top transparent;
    height: 82px;
}
#footer p {
    padding: 28px 0 0 39px;
}
#footer a {
    color: #B2B2B2;
    text-decoration: none;
}
.clear {
    clear:both;
}
.List_cart {
    border: 0 solid #CCCCCC;
    margin: 0 auto;
    width: 930px;
}
.List_cart h2 {
    background: url("/images/cart_bg_05.gif") no-repeat scroll right top #AACDED;
    height: 28px;
    line-height: 28px;
    margin-bottom: 0;
}
div.List_cart h2, h3, h4 {
    font-size: 14px;
}
.List_cart h2 strong {
    background: url("/images/cart_bg_03.gif") no-repeat scroll left top transparent;
    display: block;
    height: 28px;
    padding: 0 20px;
}
.cart_table {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #AACDED;
    border-style: solid;
    border-width: 0 3px;
    overflow: hidden;
    padding: 20px 17px 0;
    width: 890px;
}
.Table {
    border: 1px solid #AACDED;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}
tr.Thead, td.Tfoot {
    background: none repeat scroll 0 0 #EBF4FB;
}
.align_Center {
    text-align: center;
}
.cart_table td {
    padding: 2px;
}
.Table th, .Table td {
    border: 1px solid #AACDED;
    padding-left: 5px;
}
.price {
    color: #FF0000;
    font-family: verdana;
    font-weight: bold;
}
.round {
    background: url("/images/cart_bg_11.gif") repeat-x scroll 0 top transparent;
    height: 10px;
}
.lround {
    background: url("/images/cart_bg_09.gif") no-repeat scroll left top transparent;
    float: left;
    height: 10px;
    width: 10px;
}
.rround {
    background: url("/images/cart_bg_10.gif") no-repeat scroll right top transparent;
    float: right;
    height: 10px;
    width: 10px;
}
#continueBuyBtn {
    margin-right: 5px;
    width: 109px;
}
#submit_btn #gotoOrderInfo{
    background-position: -110px 0;
    width: 99px;
}
#submit_btn {
    float : right;
}
#submit_btn a {
    background: url("/images/btn0603.gif") repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 38px;
    line-height: 200px;
    overflow: hidden;
}
#CartTb .p-img img {
    float: left;
    margin-right: 10px;
    vertical-align: middle;
}
#CartTb .p-img img {
    border: 1px solid #DDDDDD;
    height: 50px;
    vertical-align: middle;
    width: 50px;
}
div.o_show, .entry-content{
    width:930px;
    margin:0 auto;
}
.entry-content {
    margin:0 auto;
    clear: both;
    font-size: 15px;
    margin-top: 35px;
}
.entry-content .wp-caption {
    float:left;
    font-weight: bold;
    padding: 5px 0 0;
    text-align: center;
    /*		margin-left:5px;*/
    margin-right:10px;
    margin-bottom:10px;
}
.entry-content .wp-caption {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 1px 2px #999999;
    max-width: 620px;
    padding: 5px;
}
.wp-caption-text{
    margin: 5px 0px;
}
.article .title{
    border-bottom: 1px solid #DEDFE1;
}
.entry h4{
    margin-top:5px;
    border-bottom: 1px solid #DEDFE1;
}

.forum_top_line{
    border-top: 3px solid #E7E7E7;
}
.forum_title h1{
    font-weight: 400;
    margin-bottom: 1px;
    font-size: 25px;
}

.forum_title p{
    font-weight: 400;
    margin-bottom: 5px;
    font-size: 15px;
}
.forum_title h1{
    margin-bottom: 5px;
}
.forum_show{
    padding-top: 5px;
    padding-left: 10px;
}
.end_line {
    height: 90px;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom:  1px dashed #D2DACE;
}
.last_show{
    font-size: 9px;
    margin-bottom: 2px;
}
.new_topic_in_forum{
    float: right;
    margin-right: 140px;
}
.table_topic_head{
    font-size: 32px;
    border-bottom: 3px solid #E7E7E7;
}
.table_topic_context{
    border-bottom:  1px solid #E7E7E7;
    margin-top: 20px;
    font-size: 12px;
    text-decoration: none;
}

.my_post_box_gradient{
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 1%, #f6f6f6 47%, #ededed 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(47%,#f6f6f6), color-stop(99%,#ededed)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 1%,#f6f6f6 47%,#ededed 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 1%,#f6f6f6 47%,#ededed 99%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #ffffff 1%,#f6f6f6 47%,#ededed 99%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #ffffff 1%,#f6f6f6 47%,#ededed 99%); /* W3C */
    padding-bottom: 20px;
    margin-bottom: 1px;
}

.box_gradient {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(left, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(left, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=1 ); /* IE6-9 */
    background: linear-gradient(left, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
}
.box_round {
    -moz-border-radius: 12px; /* FF1-3.6 */
    -webkit-border-radius: 12px; /* Saf3-4, iOS 1-3.2, Android 1.5+ */
    border-radius: 12px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4 */

    /* useful if you don't want a bg color from leaking outside the border: */
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

/* */

/*                           [to clipboard] [toggle rule off] */

.box_shadow {
    -moz-box-shadow: 0px 0px 4px #ffffff; /* FF3.5+ */
    -webkit-box-shadow: 0px 0px 4px #ffffff; /* Saf3.0+, Chrome */
    box-shadow: 0px 0px 4px #ffffff; /* Opera 10.5, IE9, Chrome 10+ */
}
.box_textshadow {
    text-shadow: 1px 1px 3px #888; /* FF3.5+, Opera 9+, Saf1+, Chrome */
}

.my_tr{
    margin-bottom: 3px;
}
.my_td{
    margin-top: 3px;
}
.my_post_table{
    table-layout: fixed;
    width: 100%;
}
.my_post_table tr{
    border-bottom:  1px dashed #D2DACE;
}

.post_left{
    margin-top: 2px;
    margin-left: 5px;
    height: 120px;
    width: 15%;
    background: none repeat scroll 0 0 #E8ECE6;
}
.post_left img{
    margin-left: 20%;
    padding-bottom: 40px;
}
.post_right{
    padding-left: 20px;
    height: 120px;
    width:85%;
}
.post_user_name{
    margin-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border-bottom:  1px dashed #D2DACE;
}

.my_border_bottom{
    border-bottom:  1px dashed #D2DACE;
    padding-bottom: 10px;
    margin-top: 5px;
}
.my_border_bottom em{
    float: right;
    padding-right: 10px;
}
.my_post_table pre{
    background-color: #ffffff;
    font-size: 15px;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.replay_post{
    float: right;
    font-size: 16px;
    margin-right: 10px;
    padding-top: 20px;
}

.post_form_part{
    width: 80%;
    margin-left: 150px;
    /*    float: right;*/
}
#post_body{
    width: 100%;
    height: 120px;
}
.actions{
    float: right;
}

.xsh{
    background-color: #aaaaaa;
}
.appreciation_index{
    width: 150px;
    height: 150px;
}
.appreciation_index p {
    text-align: center;
}


.appreciation_index em {
    font-size: 8px;
}
.serach{
    float:right;
}
.appreciation_show{
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(left, #ffffff 0%, #f6f6f6 0%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(0%,#f6f6f6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #ffffff 0%,#f6f6f6 0%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #ffffff 0%,#f6f6f6 0%); /* Opera11.10+ */
    background: -ms-linear-gradient(left, #ffffff 0%,#f6f6f6 0%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 ); /* IE6-9 */
    background: linear-gradient(left, #ffffff 0%,#f6f6f6 0%); /* W3C */
}
.appreciation_show pre{
    padding-left: 30px;
    padding-right: 15px;
    font-size: 15px;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(left, #ffffff 0%, #f6f6f6 0%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(0%,#f6f6f6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #ffffff 0%,#f6f6f6 0%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #ffffff 0%,#f6f6f6 0%); /* Opera11.10+ */
    background: -ms-linear-gradient(left, #ffffff 0%,#f6f6f6 0%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 ); /* IE6-9 */
    background: linear-gradient(left, #ffffff 0%,#f6f6f6 0%); /* W3C */
}
.appreciation_show img{
    padding-top: 20px;
    margin-bottom: 10px;
}
.appreciation_show em{
    padding-top: 20px;
    height: 250px;
}