div#header {
	background: url("/images/header-bg.gif") repeat-x scroll left top transparent;
	height: 311px;
	width: 100%;
}
#header .row-1 {
	height: 89px;
}
.menu-block {
	background: url("/images/top-menu-bg.gif") repeat-x scroll left top transparent;
	width: 100%;
}
.menu-block .left {
	background: url("/images/top-menu-left.gif") no-repeat scroll left top transparent;
}
.menu-block .right {
	background: url("/images/top-menu-right.gif") no-repeat scroll right top transparent;
	height: 89px;
}
.menu-block ul {
	overflow: hidden;
	padding: 42px 0 0;
}
.menu-block ul li {
	display: inline;
	margin-left: -1px;
}
.menu-block ul li a {
	background: url("/images/divider.gif") no-repeat scroll left 3px transparent;
	color: #FFFFFF;
	font-family: "trebuchet ms";
	font-size: 1.1em;
	padding: 0 53px 0 54px;
	text-decoration: none;
}
.menu-block ul li a:hover{
	text-decoration:underline;
}
#header .row-2 {
	background: url("/images/header-bg.jpg") repeat-x scroll left top transparent;
	height: 222px;
}
#header .row-2 .left {
	background: url("/images/header-left.jpg") no-repeat scroll left top transparent;
}
#header .row-2 .right {
	background: url("/images/header-right.jpg") no-repeat scroll right top transparent;
	height: 222px;
}
#header .logo {
	padding: 89px 69px 38px 0;
	text-align: right;
}
h1 {
	color: #000000;
	font-size: 3em;
	font-weight: normal;
	letter-spacing: -1px;
	line-height: 1.1em;
}
h1 a {
	color: #000000;
	text-decoration: none;
}
div .login {
	margin: -50px 69px 30px 0;
	text-align: right;
}
.content {
	background: url("/images/cont-left.gif") repeat-y scroll left top #FFFFFF;
}
.content .indent {
	padding: 0 4px 0 8px;
}
.content .bg_right {
	background: url("/images/cont-right.gif") repeat-y scroll right top transparent;
}
.w100 {
	width: 100%;
}
.column_center {
	float: left;
	width: 100%;
}
.indent_center {
	margin: 0 0 0 10px;
	padding: 4px 29px 0 4px;
}
.column_center .bg-line {
	background: url("/images/bg-line.gif") repeat-x scroll left top transparent;
}
.indent_center2 {
	padding: 24px 3px 40px 10px;
}
.text_box {
	font-size: 1em;
	padding: 0 12px 17px 0;
}
.entry {
	border-bottom: 1px dotted #7777DD;
	margin-top: 1em;
	overflow: auto;
}
.entry img {
	float: left;
	margin-bottom: 5px;
	margin-right: 5px;
}
.entry h3 {
	color: #222277;
	margin-bottom: 2px;
	margin-top: 0;
}
.entry p {
	margin-bottom: 0.8em;
	margin-top: 0.5em;
}
#footer {
	background: url("/images/footer-bg.gif") repeat-x scroll left top transparent;
	color: #B2B2B2;
	font-family: tahoma;
	font-size: 1.01em;
	height: 82px;
	line-height: 1.1em;
}
#footer .left {
	background: url("/images/footer-left.gif") no-repeat scroll left top transparent;
}
#footer .right {
	background: url("/images/footer-right.gif") no-repeat scroll right top transparent;
	height: 82px;
}
#footer p {
	padding: 28px 0 0 39px;
}
#footer a {
	color: #B2B2B2;
	text-decoration: none;
}
.clear {
	clear:both;
}
.List_cart {
	border: 0 solid #CCCCCC;
	margin: 0 auto;
	width: 930px;
}
.List_cart h2 {
	background: url("/images/cart_bg_05.gif") no-repeat scroll right top #AACDED;
	height: 28px;
	line-height: 28px;
	margin-bottom: 0;
}
div.List_cart h2, h3, h4 {
  font-size: 14px;
}
.List_cart h2 strong {
	background: url("/images/cart_bg_03.gif") no-repeat scroll left top transparent;
	display: block;
	height: 28px;
	padding: 0 20px;
}
.cart_table {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #AACDED;
	border-style: solid;
	border-width: 0 3px;
	overflow: hidden;
	padding: 20px 17px 0;
	width: 890px;
}
.Table {
	border: 1px solid #AACDED;
	border-collapse: collapse;
	margin: 0;
	padding: 0;
}
tr.Thead, td.Tfoot {
	background: none repeat scroll 0 0 #EBF4FB;
}
.align_Center {
	text-align: center;
}
.cart_table td {
	padding: 2px;
}
.Table th, .Table td {
	border: 1px solid #AACDED;
	padding-left: 5px;
}
.price {
	color: #FF0000;
	font-family: verdana;
	font-weight: bold;
}
.round {
    background: url("/images/cart_bg_11.gif") repeat-x scroll 0 top transparent;
    height: 10px;
}
.lround {
    background: url("/images/cart_bg_09.gif") no-repeat scroll left top transparent;
    float: left;
    height: 10px;
    width: 10px;
}
.rround {
    background: url("/images/cart_bg_10.gif") no-repeat scroll right top transparent;
    float: right;
    height: 10px;
    width: 10px;
}
#continueBuyBtn {
    margin-right: 5px;
    width: 109px;
}
#submit_btn #gotoOrderInfo{
    background-position: -110px 0;
    width: 99px;
}
#submit_btn {
	float : right;
}
#submit_btn a {
    background: url("/images/btn0603.gif") repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 38px;
    line-height: 200px;
    overflow: hidden;
}
#CartTb .p-img img {
    float: left;
    margin-right: 10px;
    vertical-align: middle;
}
#CartTb .p-img img {
    border: 1px solid #DDDDDD;
    height: 50px;
    vertical-align: middle;
    width: 50px;
}
div.o_show, .entry-content{
	width:930px;
	margin:0 auto;
}
.entry-content {
		margin:0 auto;
    clear: both;
    font-size: 15px;
    margin-top: 35px;
}
.entry-content .wp-caption {
		float:left;
    font-weight: bold;
    padding: 5px 0 0;
    text-align: center;
/*		margin-left:5px;*/
		margin-right:10px;
		margin-bottom:10px;
}
.entry-content .wp-caption {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 1px 2px #999999;
    max-width: 620px;
    padding: 5px;
}
.wp-caption-text{
	margin: 5px 0px;
}
.article .title{
	border-bottom: 1px solid #DEDFE1;
}
.entry h4{
	margin-top:5px;
	border-bottom: 1px solid #DEDFE1;
}
.plant,.actions {
	width: 930px;
	margin: 0 auto;
	text-align: center;
}
