<div class="entry-content article">
	<h2 class="title">科普宣传</h2>
<%@products.each do |pop|%>
<div style="width: 200px" class="wp-caption alignnone">
	<%=link_to image_tag(pop.image.url, :size => '200x150', :algin => 'left', :border => 0, :style => "margin-right:15px "), "/pop_show/#{pop.id}"%>
	<p class="wp-caption-text"><%=pop.name%></p>
</div>
<%end%>
</div>